.wrap

  .content-main
    .content-image
      = image_tag asset_path("image.jpg", alt: "", class: "content-image__back"), width: '100%', height: '700'
    .message
      .message-title
        Music Life とは？
      %br
      %br
      %p.message-title__content  好きなアーティスト、好きな歌詞など自由に投稿するアプリです。
      %br
      %br
      %p.message-title__content  思い出の曲にまつわるエピソード、この曲の歌詞に勇気付けられた。
      %br
      %br
      %p.message-title__content  など、音楽に関する投稿ならなんでも構いません。
      %br
      %br
      %p.message-title__content  自分のお気に入りの曲を投稿してみんなに共有しよう。
      %br
      %br
      %p 
