.wrap

  .content-main
    .content-image
      = image_tag "image.jpg", alt: "", class: "content-image__back", width: "100%"
    .message
      .message-title
        Music Life とは？
      %br
      %p 思い出の曲、好きな曲,好きな歌詞など、みんなで共有しよう
      %br
      %p まだ見ぬ曲を知り人生を変えよう
      %br
      %p さあ、音楽の力を神よーーー
      %br
      %p さあ、音楽の力を神よーーー
      %br
      %p さあ、音楽の力を神よーーー
